#body{
    font-family: 'Opens Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

header .line-top{
    background-color: #117050;
    height: 10px;
}

.container{
    max-width: 1140px;
    margin: auto;
}
.bar{
    width: 168px;
    height: 22px;
    background-color: #117050;
}
h1{
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;
    margin-bottom: 30px;
}
h2{
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    margin: 20px 0px; 
}

.button{
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
}

.button:hover{
    background-color: #454545;
    color: #FFF;
}


.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-left img{
    width: 64px;
    height: 64px;
}

.header-right{
    display: flex;
    align-items: center;
}

.header-search form{
    display: flex;
}

.header-search input{
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #999;
    outline: 0px;
    width: 100%;
    max-width: 250px;
}

.header-search button{
    border: 0px;
    background:transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header-search button img{
    width: 16px;
    height: 16px;
}

.header-menu img{
    margin-left: 50px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header-menu--menu{
    position: absolute;
    background-color: #ccc;
    right: 0px;
    top: 110px;
    display: none;
}

.header-menu--menu ul,
.header-menu--menu li{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.header-menu--menu a{
    padding: 20px 80px;
    text-decoration: none;
    color: #000;
}

.header-menu--menu a:hover{
    background-color: #FFF;
}


#banner{
    background-image: url(imagem/bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 90px 0px;
}

.banner-imagens{
    margin-top: 60px;
}

.banner-imagens img{
    width: 148px;
    height: 148px;
    border: 4px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}

.botao-subir{
    width: 50px;
    height: 50px;
    background-color: #F5F6FB;
    border: 5px solid #117050;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

.botao-subir img{
    width: 18px;
}

#area1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1-content{
    padding: 80px;
}

.area1-content span{
    display: block;
    margin-bottom: 30px;
}

.area1-content--text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area1-img1{
    height: 350px;
    background-image: url(imagem/f2.jpg);
    background-position: center;
    background-size: cover;  
}

.area1-img2{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url(imagem/f1.jpg);
    background-position: center;
    background-size: cover;
}


#area2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2-content{
    padding: 80px;
}

.area2-content--text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area2-img1{
    height: 450px;
    background-image: url(imagem/f4.jpg);
    background-position: center;
    background-size: cover;  
}

.area2-img2{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url(imagem/f3.jpg);
    background-position: center;
    background-size: cover;
}



#area3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
}

.area3-content{
    padding: 200px 80px;
    background-image: url(imagem/bg2.jpg);
    background-position: left;
    background-size: cover;  
}

.area3-content--text{
    margin-bottom: 50px;
    line-height: 25px;
}
.area3-img1{
    background-image: url(imagem/f5.jpg);
    background-position: center;
    background-size: cover;  
}



#area4{
    display: grid;
    grid-template-columns: 450px 1fr;
    background-color: #e8e9ee;
}

.area4-content{
    padding: 150px 80px;
}

.area4-content--text{
    margin-bottom: 50px;
    line-height: 25px;
}

.area4-img1{
    background-image: url(imagem/bg3.jpg);
    background-position: center;
    background-size: cover;  
}

#area5{
    background-image: url(imagem/bg4.jpg);
    background-position: right;
    background-size: cover; 
    height: 500px; 
}

footer{
    background-color: #333;
    color: #FFF;
    padding: 80px;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1140px){
    .container{
        padding: 0px 20px;
    }
}

@media (min-width: 480px) and (max-width: 768px){
    .container{
        padding: 0px 20px;
    }

    #area1, 
    #area3{
        grid-template-columns: 3fr 2fr;
    }
    #area2{
        grid-template-columns: 2fr 3fr;
    }
}

@media (max-width: 480px){
    .container{
        padding: 0px 20px;
    }

    .header-menu img{
        margin-left: 20px;
    }

    .header-search input{
        max-width: 80px;
    }

    h1{
        font-size: 50px;
        line-height: 50px;
    }

    h2{
        font-size: 25px;
        line-height: 30px;
    }


    .banner-imagens img{
        width: 70px;
        height: 70px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 10px;
    }

    .botao-subir{
        width: 40px;
        height: 40px;
        right: 10px;
        bottom: 10px;
    }

    .botao-subir img{
        width: 15px;
    }

    #area1,
    #area2,
    #area3,
    #area4{
        grid-template-columns: 1fr;
    }
    .area1-content,
    .area2-content,
    .area3-content,
    .area4-content{
        padding: 40px;
    }

    #area5{
        height: 200px;
    }

    footer{
        font-size: 12px;
        padding: 40px 20px;
    }
    
}

